<div class="fixed-title" style="padding-bottom: 24px; border-bottom: 1px solid black;">
  <div style="padding-left: 120px;">
    <h1><b>resultados:</b></h1>
      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="botao2" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false">POR CLIENTE</a>
        </li>
        <li class="nav-item">
          <a class="botao2" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">POR PRODUTO</a>
        </li>
      </ul>
  </div>
</div>


<div class="tab-content" style="margin-top: 200px; padding-left: 96px; padding-right: 96px; padding-top: 36px;">

    <div class="tab-pane" id="product" role="tabpanel" aria-labelledby="product-tab">
    <% @items.each do |item| %>
      <div class="row" style="padding-right: 36px;">
        <div class="col-3">
          <%= cl_image_tag item.photo.key, class: "img-shoe" %>
        </div>
        <div class="col-3">
          <h5>
            <% if item.name[-3..-1] == 'JPG'%>
                <%= item.name.split('.JPG')[0]  %>
             <% elsif item.name[-3..-1] == 'jpg'%>
                <%= item.name.split('.jpg')[0]  %>
             <% elsif item.name[-3..-1] == 'PNG'%>
                <%= item.name.split('.PNG')[0]  %>
             <% elsif item.name[-3..-1] == 'png'%>
                <%= item.name.split('.png')[0]  %>
             <% elsif item.name[-4..-1] == 'JPEG'%>
                <%= item.name.split('.JPEG')[0]  %>
             <% elsif item.name[-4..-1] == 'jpeg'%>
                <%= item.name.split('.jpeg')[0]  %>
            <% end %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <h5><%= item.votes.count %></h5>
        </div>
      </div>
      <hr>
    <% end %>
    </div>


  <div class="tab-pane active" id="client" role="tabpanel" aria-labelledby="client-tab">
    <div class="tab-pane" id="product" role="tabpanel" aria-labelledby="product-tab">
    <% @collection.user_choices.each do |user_choice| %>
      <% if user_choice.user.admin == false %>


    <div class="row" style="margin-bottom: 18px;">

      <div class="col-4" style="padding-right: 24px;">

        <h3> <%= link_to "#{user_choice.user.name} #{user_choice.user.surname}", user_path(user_choice.user) %>  </h3><br>
        <% if user_choice.user.instagram %>
        <% instagram = user_choice.user.instagram.upcase.gsub('@','').gsub(/(https:\/\/)*(www.)*(instagram.com)\//, '').gsub('/','') %>
        <p>instagram:<%= link_to "@#{instagram.downcase}", "https://www.instagram.com/#{instagram}", target:'_blank' %> <br>
        <% end %>
        <% if user_choice.user.email %>
        e-mail: <%= user_choice.user.email.downcase %> <br>
        <% end %>
        <% if user_choice.user.numer %>
        numeração: <%= user_choice.user.numer %> </p>
        <% end %>

        <p>políticas de uso de dados: <% if user_choice.user.politics == true %> concorda  <% else %>  não concorda <% end %> </p>

      </div>

      <div class="col-7 results-grid">
        <% user_choice.items.each do |item| %>
          <div> <%= cl_image_tag item.photo.key, class: "img-shoe" %>
          <p style="font-size: 9pt">
            <% if item.name[-3..-1] == 'JPG'%>
                <%= item.name.split('.JPG')[0]  %>
             <% elsif item.name[-3..-1] == 'jpg'%>
                <%= item.name.split('.jpg')[0]  %>
             <% elsif item.name[-3..-1] == 'PNG'%>
                <%= item.name.split('.PNG')[0]  %>
             <% elsif item.name[-3..-1] == 'png'%>
                <%= item.name.split('.png')[0]  %>
             <% elsif item.name[-4..-1] == 'JPEG'%>
                <%= item.name.split('.JPEG')[0]  %>
             <% elsif item.name[-4..-1] == 'jpeg'%>
                <%= item.name.split('.jpeg')[0]  %>
            <% end %>
           </p>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <hr>
    <% end %>
    </div>
  </div>


</div>


