<div class="homecontainer">


    <% unless Collection.last == nil %>
    <% unless Collection.last.active == false %>
      <div class="row justify-content-center banner">
        <% if @last_active_collection.photo.attached? %>
      <%= cl_image_tag @last_active_collection.photo.key %>
          <% end %>
      <% end %>
      <% end %>
      </div>
      <br>
        <div style="margin-left: 64px; margin-right: 56px;">
      <% if current_user.admin == true %>
        <h2>equipe Luiza Barcelos, </h2>
        <h4 style="font-weight: lighter;">acesse seu painel de administração ↗ </h4>
      <% else %>
        <h2 style="font-size: 42px;"><b>OLÁ, <%= current_user.name.upcase %>.</b></h2>
        <% if Collection.last == nil || Collection.last.active == false || nil %>
        <br>
          <h3>neste momento, não há coleções disponíveis. </h3>
        <% else %>
          <h3> <b> selecione seus itens favoritos: </b></h3>
        <% end %>
      <% end %>
      </div>
</div>

  <br>

<div class="main-form">

  <% unless Collection.last == nil %>
  <% if  Collection.last.active == true %>
      <%= simple_form_for :user_choice, url: '/user_choices' do |f| %>
        <%= f.input :vote,
                    collection: @last_collection.map { |item| cl_image_tag item.photo.key, width: 380 },
                    as: :check_boxes,
                    required: true,
                    include_blank: false,
                    include_hidden: false %>
                    <br>
        <%= f.button :submit, 'ENVIAR', class: "form-button" %>
      <% end %>
  <% end %>
  <% end %>

  </div>


