<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-4">
      <% if current_user.admin == true %>
        <h2> bem vinda, <br>equipe Luiza Barcelos. </h2>
        <p>→ acesse seu painel de administração no topo da tela.</p>
      <% else %>
        <h1 style="font-size: 46px;"><b>olá, <%= current_user.name %>.</b></h1>
        <% if Collection.last == nil || Collection.last.active == false || nil %>
        <br>
          <h3>neste momento, <br> não existem novas <br> coleções disponíveis. </h3>
        <% else %>
          <h1> <b> selecione seus itens favoritos: </b></h1>
        <% end %>
      <% end %>
      <br>
      <% unless Collection.last == nil %>
      <% unless Collection.last.active == false %> <p class="botao2"> COLEÇÃO <%= Collection.last.name.upcase %> </p> <% end %>
      <% end %>
    </div>
  </div>
</div>

  <br>

<div class="main-form">

  <% unless Collection.last == nil %>
  <% if  Collection.last.active == true %>
      <%= simple_form_for :user_choice, url: '/user_choices' do |f| %>
        <%= f.input :vote,
                    collection: @library.map { |item| cl_image_tag item, class: "image-form" },
                    as: :check_boxes,
                    required: true,
                    include_blank: false,
                    include_hidden: false %>
                    <br>
        <%= f.button :submit, 'ENVIAR', class: "form-button" %>
      <% end %>
  <% end %>
  <% end %>

  </div>


