<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="fixed-title">
        <h1><b>faça seu <br> cadastro </b></h1>
      </div>

      <div class="inputs" style="padding-left: 8px;">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs" style="margin-top: 104px;">
          <%= f.input :name,
                      label: 'nome',
                      required: true,
                      input_html: { autocomplete: "nome" } %>

          <%= f.input :surname,
                      label: 'sobrenome',
                      required: true,
                      input_html: { autocomplete: "sobrenome" } %>

          <%= f.input :instagram,
           label: 'instagram',
                      required: true,
                      placeholder: '@',
                      input_html: { autocomplete: "instagram" } %>

          <%= f.input :numer,
           label: 'numeração de calçado',
                      required: true,
                      input_html: { autocomplete: "numeração" } %>

          <%= f.input :email,
           label: 'e-mail',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>

          <%= f.input :doc,
           label: 'cpf | cnpj',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "documento" }%>

          <%= f.input :rg,
           label: 'rg',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "documento" }%>

          <%= f.input :birth,
           label: 'data de nascimento',
                      start_year: Time.now.year - 100,
                      end_year: Time.now.year,
                      order: %i(day month year),
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "data de nascimento" }%>

          <%= f.input :street,
           label: 'endereço',
                      required: true,
                      autofocus: true,
                      placeholder: 'r. lisboa, 33 apt 5 — centro, recife-PE',
                      input_html: { autocomplete: "endereço" }%>

          <%= f.input :cep,
           label: 'cep',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cep" }%>

          <%= f.input :password,
           label: 'senha',
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>

          <%= f.input :password_confirmation,
           label: 'confirme sua senha',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="small-text" style="text-align: left">
          <%= f.input :politics, input_html: { checked: @user.politics = true },  label: 'DE ACORDO COM AS POLÍTICAS DE USO DE DADOS.', class: "small-text" %>
          <%= link_to "↳ ver políticas de uso de dados", root_path %>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "INICIAR SESSÃO" %>
        </div>
      <% end %>
      </div>
      <%= render "devise/shared/links" %>

</div>
</div>
</div>
